@import "tailwindcss";

@theme {
  --font-sans: "Inter", "ui-sans-serif", "system-ui", "-apple-system", "sans-serif";
}

@layer base {
  body {
    @apply bg-white text-slate-950 antialiased transition-colors duration-300;
    @apply dark:bg-zinc-950 dark:text-zinc-50;
  }
}
